{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ author.first_name }} {{ author.last_name }}</h1>
  <p>Date of birth: {{ author.date_of_birth }}</p>
  <p>Date of death: {{ author.date_of_death }}</p>

  <h2>Books by this author</h2>
  {% if author.book_set.all %}
    <ul>
        {% for book in author.book_set.all %}
            <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>
  {% else %}
    <p>No books by this author.</p>
  {% endif %}
{% endblock %}
